@model AnimeMangaMVCApp.Models.AddAnimeViewModel
@{
    ViewData["Title"] = "AddAnime";
}

<h1>Add Anime</h1>

<form method="post" action="AddAnime" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Author</label>
        <input type="text" class="form-control" asp-for="Author"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Genre</label>
        <input type="text" class="form-control" asp-for="Genre"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Summary</label>
        <input type="text" class="form-control" asp-for="Summary"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Number Of Arks</label>
        <input type="number" class="form-control" asp-for="NumOfArks"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rating</label>
        <input type="number" class="form-control" asp-for="Rating"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>