@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2>~AnimeWrlD MVC~</h2>
    <img class="img-background" src="~/lib/images/anime-pic11.png" alt="MonkeyDLuffy" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    
